<div class="card" style="border:0">
    <div class="card-header bg-light text-center">
        <h1>
            <img class="img-fluid" alt="Zevere Logo" src="assets/images/zevere-squared.png">
        </h1>
    </div>

    <div class="card-body">
        <h3 class="text-center">
            Login
        </h3>
        <div class="col-md-6 offset-md-3">
            <form [formGroup]="loginForm" (ngSubmit)="login()">

                <div class="form-row">
                    <div class="form-group col-md-6 offset-md-3">
                        <input type="text" class="form-control" id="username" formControlName="username"
                               autocomplete="username" placeholder="Username">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6 offset-md-3">
                        <input type="password" class="form-control" id="passphrase" formControlName="passphrase"
                               autocomplete="current-password" placeholder="Password">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group text-right col-md-6 offset-md-3">
                        <button type="submit" class="btn btn-primary"
                                [disabled]="isSending || loginForm.pristine || loginForm.invalid">
                            <i class="fa fa-sign-in"></i>
                            Login
                        </button>
                    </div>
                </div>
            </form>

            <div class="row text-center">
                <div class="alert alert-danger" *ngIf="error">
                    Operation Failed!
                    <br/>
                    <p> {{ error }} </p>
                </div>
            </div>

        </div>
    </div>
</div>
