<div class="container">
    <div class="row">
        <div class="col-md-auto">
            <button role="link" class="btn btn-outline-dark" (click)="navigateBackToList()">
                <i class="fa fa-arrow-left"></i> Back to List
            </button>
            &nbsp;&nbsp;
            <a class="btn btn-secondary" routerLink="new">
                <i class="fa fa-plus"></i> Add New Task
            </a>
        </div>
    </div>

    <div class="row my-2"></div>

    <div class="row" *ngIf="taskItems?.length; else noTasks">
        <app-all-todo-tasks [taskItems]="taskItems"></app-all-todo-tasks>
    </div>

    <ng-template #noTasks>
        <div class="row">
            <div class="col-md-5">
                <p>You don't have any task. Go ahead and create one.</p>
            </div>
        </div>
    </ng-template>
</div>
