<div class="container">
    <div class="row">
        <div class="col-md-auto">
            <button role="link" class="btn btn-outline-dark" (click)="navigateBackToList()">
                <i class="fa fa-arrow-left"></i> Back to List
            </button>
            &nbsp;
            <a class="btn btn-secondary" routerLink="new">
                <i class="fa fa-plus"></i> Add New Task
            </a>
        </div>
    </div>

    <div class="row my-2"></div>

    <div class="row" *ngIf="taskItems?.length; else noTasks">
        <div class="col-md-12">
            <div class="card">
                <ul *ngFor="let t of taskItems" class="list-group list-group-flush">
                    <li class="list-group-item">
                        <app-task-item-card [task]="t" [isOwner]="isOwner"
                                            (delete)="deleteTask(t.id)"></app-task-item-card>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <ng-template #noTasks>
        <div class="row">
            <div class="col-md-5">
                <p>You don't have any task. Go ahead and create one.</p>
            </div>
        </div>
    </ng-template>
</div>
