<div class="card" style="border:0">
    <div class="card-header bg-light text-center">
        <h1>
            <img class="img-fluid" alt="Zevere Logo" src="assets/images/zevere-squared.png">
        </h1>
    </div>

    <div class="card-body">
        <h3 class="text-center">
            Register on Zevere
        </h3>
        <div class="col-md-6 offset-md-3">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="username">User Name</label>
                        <input type="text" class="form-control" id="username" required
                               placeholder="user name e.g. john.smith">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="passphrase">Passphrase</label>
                        <input type="password" class="form-control" id="passphrase" required
                               placeholder="a good passphrase e.g. *********">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="firstname">First Name</label>
                        <input type="text" class="form-control" id="firstname" required
                               placeholder="first name e.g. John">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="lastname">Last Name</label>
                        <input type="text" class="form-control" id="lastname"
                               placeholder="last name e.g. Smith">
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                            Create an Organization Account
                        </label>
                    </div>
                </div>

                <div>
                    <button type="submit" class="btn btn-success">Register</button>
                </div>
            </form>

        </div>
    </div>
</div>
