<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ task.title }}</h5>
        <h6>
            <span class="badge badge-light">{{ tags.priority }}</span>
            <span class="badge badge-danger" *ngIf="tags.kind === 'bug'"><i class="fa fa-bug"></i></span>
        </h6>

        <h6 class="card-subtitle mb-2 text-muted">
            created by
            <a [routerLink]="['/users', task.creator]">{{ task.creator }}</a>
            at {{ task.createdAt | date }}
        </h6>
        <div class="card-subtitle mb-2 text-muted" *ngIf="task.assignees?.length">
            assigned to:
            <ul class="list-inline-item list-inline">
                <li class="list-inline-item" *ngFor="let userId of task.assignees">
                    <a [routerLink]="['/users', userId]">{{ userId }}</a>
                </li>
            </ul>
        </div>
        <p class="card-text">{{ task.description }}</p>
        <div>
            <div *ngIf="tags.progress > 0">
                <ngb-progressbar type="success" [value]="tags.progress"></ngb-progressbar>
            </div>
            <span *ngIf="task.comments?.length">
                <i class="fa fa-comments"></i>
                {{ task.comments.length }} comments
            </span>
            <div class="pull-right">
                <button type="button" class="btn btn-outline-primary"><i class="fa fa-pencil"></i></button>
                <button type="button" class="btn btn-outline-danger"><i class="fa fa-trash"></i></button>
            </div>
        </div>
    </div>
</div>
