<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">
            <i [ngClass]="['fa', 'fa-' + icon]" *ngIf="icon?.length"></i>
            {{ taskList.title }}
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
            <code>{{ taskList.id }}</code>
        </h6>
        <p class="card-text">
            {{ taskList.description }}
        </p>

        <!--<a href="#" class="card-link">Card link</a>-->
        <!--<a href="#" class="card-link">Another link</a>-->

        <div *ngIf="tags">
            <span *ngFor="let tag of tags">
                <span class="badge badge-light">{{ tag }}</span>
            </span>
        </div>

        <div>
            <span *ngIf="taskList.comments?.length">
                <i class="fa fa-comments"></i>
                {{ taskList.comments.length }} comments
            </span>
            <span class="pull-right">{{ taskList.createdAt | date }}</span>
        </div>
    </div>
</div>
