<div class="card" style="margin: 0.3em;">
    <div class="card-body">
        <h5 class="card-title">
            <i [ngClass]="['fa', 'fa-' + icon]" *ngIf="icon?.length"></i>
            <a [routerLink]="[taskList.id]">
                {{ taskList.title }}
            </a>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
            <code>{{ taskList.id }}</code>
        </h6>
        <p class="card-text">
            {{ taskList.description }}
        </p>

        <a class="card-link" [routerLink]="['/users', taskList.owner, 'lists', taskList.id]">See details</a>

        <div *ngIf="tags">
            <span *ngFor="let tag of tags">
                <span class="badge badge-light">{{ tag }}</span>
            </span>
        </div>

        <div>
            <span *ngIf="taskList.comments?.length">
                <i class="fa fa-comments"></i>
                {{ taskList.comments.length }} comments
            </span>
            <span class="pull-right">{{ taskList.createdAt | date }}</span>
        </div>
    </div>
</div>
