<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Zevere</h1>
        <p class="lead">Task Management Solution</p>
        <hr class="my-4">
        <p>
            Zevere is a task management solution that lets users effectively plan, track, schedule, and manage resources
            to stay on their A-game! At its core, Zevere provides users with functions such as task creation, planning
            and assignment, tracking and reporting. Additionally, Zevere can also be used by organizations to plan and
            manage their projects through the built-in collaboration features.
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg pull-right" role="button" routerLink="/">Read more</a>
        </p>
    </div>
</div>
