<ng-container *ngIf="comment">
    <div class="card" style="margin: .5em auto;">
        <div class="card-header p-1">
            <div>
                <a [routerLink]="['/users', comment.authorId]">{{ comment.authorId }}</a>
                posted at {{ comment.postedAt | date }}
                <ng-container *ngIf="comment.modifiedAt">
                    and {{ comment.status }} at {{ comment.modifiedAt | date }}
                </ng-container>
            </div>
        </div>
        <div class="card-body p-2" *ngIf="comment.text?.length">
            <div>{{ comment.text }}</div>
        </div>
    </div>
</ng-container>
