<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/home">
        <img src="assets/images/zevere-squared.png" width="45" height="40" alt="Zevere Logo">
        Zevere
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item" *ngIf="user">
                <a class="nav-link" [routerLink]="['users', user.id, 'lists']" routerLinkActive="active">
                    <i class="fa fa-list"></i>
                    My Task Lists
                </a>
            </li>
            <li class="nav-item" *ngIf="user">
                <a class="nav-link" routerLink="/my-tasks" routerLinkActive="active">
                    <i class="fa fa-check"></i>
                    Assigned to me
                </a>
            </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
            <div *ngIf="user">
                <a role="button" class="btn btn-outline-dark mx-1" routerLink="/profile" routerLinkActive="active">
                    <i class="fa fa-user-circle"></i>
                    My Profile
                </a>
                <button role="button" class="btn btn-outline-danger mx-1" (click)="logout()">
                    <i class="fa fa-sign-out"></i>
                    Logout
                </button>
            </div>

            <div *ngIf="!user">
                <a role="button" class="btn btn-primary mx-1" routerLink="/login" routerLinkActive="active"
                   queryParamsHandling="merge">
                    <i class="fa fa-sign-in"></i>
                    Login
                </a>
                <a role="button" class="btn btn-success mx-1" routerLink="/register" routerLinkActive="active"
                   queryParamsHandling="merge">
                    <i class="fa fa-user-plus"></i>
                    Register
                </a>
            </div>

        </form>

    </div>
</nav>
