<div class="container">
    <div class="row">
        <div class="col-md-1">
            <a class="btn btn-secondary" routerLink="new">
                <i class="fa fa-plus"></i> Add New List
            </a>
        </div>
    </div>
    <div class="row" *ngIf="taskLists?.length; else noLists">
        <div class="col-md-5" *ngFor="let l of taskLists">
            <app-task-list-card [taskList]="l"></app-task-list-card>
        </div>
    </div>
    <ng-template #noLists>
        <div class="row">
            <div class="col-md-5">
                <p>You don't have any list. Go ahead and create one.</p>
            </div>
        </div>
    </ng-template>
</div>
