<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>
                <a [routerLink]="['/users', project.owner, 'lists', project.id]">
                    <i [ngClass]="['fa', 'fa-' + projectTags.icon]" *ngIf="projectTags?.icon?.length"></i>
                    {{ project.title }}
                </a>
                <!--ToDo: project progress component-->
                <code>ToDo: project progress component</code>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    Backlog
                    <button type="button" class="btn btn-outline-dark pull-right"><i class="fa fa-plus"></i></button>
                </div>
                <div class="card-body">
                    <app-task-item-card *ngFor="let t of backlogTasks" [task]="t"></app-task-item-card>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    ToDo
                    <button type="button" class="btn btn-outline-dark pull-right"><i class="fa fa-plus"></i></button>
                </div>
                <div class="card-body">
                    <app-task-item-card *ngFor="let t of todoTasks" [task]="t"></app-task-item-card>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    In Progress
                    <button type="button" class="btn btn-outline-dark pull-right"><i class="fa fa-plus"></i></button>
                </div>
                <div class="card-body">
                    <app-task-item-card *ngFor="let t of inProgressTasks" [task]="t"></app-task-item-card>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    Done
                    <button type="button" class="btn btn-outline-dark pull-right"><i class="fa fa-plus"></i></button>
                </div>
                <div class="card-body">
                    <app-task-item-card *ngFor="let t of doneTasks" [task]="t"></app-task-item-card>
                </div>
            </div>
        </div>
    </div>
</div>
