<div class="container-fluid">
    <div class="row">
        <div class="col-md-auto">
            <a class="btn btn-light align-top" [routerLink]="['/users', project.owner, 'lists', project.id]">
                <i [ngClass]="['fa', 'fa-' + projectTags.icon]" *ngIf="projectTags?.icon?.length"></i>
                <span>{{ project.title }}</span>
            </a>
        </div>
        <div class="col-md-3 col-md-auto">
            <div *ngIf="progress" class="progress">
                <div class="progress-bar bg-light" role="progressbar" [style.width]="progress.todo + '%'"
                     [ngbTooltip]="'ToDo: ' + progress.todo + '%'" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar bg-primary" role="progressbar" [style.width]="progress.inProgress + '%'"
                     [ngbTooltip]="'In Progress: ' + progress.inProgress + '%'" aria-valuemin="0"
                     aria-valuemax="100"></div>
                <div class="progress-bar bg-success" role="progressbar" [style.width]="progress.done + '%'"
                     [ngbTooltip]="'Done: ' + progress.done + '%'" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <h5 class="card-header text-center p-2 bg-secondary text-light">Backlog</h5>
                <div class="card-body">
                    <app-project-task-item-card *ngFor="let t of backlogTasks" [task]="t"></app-project-task-item-card>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <h5 class="card-header text-center p-2 bg-light text-dark">To Do</h5>
                <div class="card-body">
                    <app-project-task-item-card *ngFor="let t of todoTasks" [task]="t"></app-project-task-item-card>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <h5 class="card-header text-center p-2 bg-primary text-light">In Progress</h5>
                <div class="card-body">
                    <app-project-task-item-card *ngFor="let t of inProgressTasks"
                                                [task]="t"></app-project-task-item-card>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <h5 class="card-header text-center p-2 bg-success text-light">Done</h5>
                <div class="card-body">
                    <app-project-task-item-card *ngFor="let t of doneTasks" [task]="t"></app-project-task-item-card>
                </div>
            </div>
        </div>
    </div>
</div>
