<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-primary pull-right" [routerLink]="['tasks']">
                <i class="fa fa-tasks"></i>
                See tasks
            </a>
            <h2>
                <i [ngClass]="['fa', 'fa-' + icon]" *ngIf="icon?.length"></i>
                {{ taskList.title }}
            </h2>
            <h5 class="text-muted"><code>{{ taskList.id }}</code></h5>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-9">
            <p>{{ taskList.description }}</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed rutrum sapien, tempor tincidunt
                mauris.
                Donec augue arcu, imperdiet in lacus vitae, placerat lacinia felis. Maecenas in lobortis sem. Sed mi
                nunc,
                convallis id leo quis, placerat bibendum urna. Praesent dapibus sed justo vel egestas. Mauris neque
                velit,
                dignissim ut malesuada dignissim, placerat eu sapien. Ut cursus tellus sit amet eleifend fringilla.
            </p>
            <h5>Comments:</h5>
            <app-comments-thread [comments]="taskList.comments" allowPost="true"></app-comments-thread>
        </div>

        <div class="col-md-3">
            <app-task-list-summary [taskList]="taskList"></app-task-list-summary>
        </div>

    </div>
</div>
