<div class="container" *ngIf="taskList; else loading">
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-primary pull-right" [routerLink]="['tasks']">
                <i class="fa fa-tasks"></i>
                See tasks
            </a>
            <button type="button" class="btn btn-danger mx-2 pull-right" *ngIf="isCurrentUserOwner" (click)="delete()">
                Delete this list
            </button>
            <h2>
                <i [ngClass]="['fa', 'fa-' + icon]" *ngIf="icon?.length"></i>
                {{ taskList.title }}
            </h2>
            <h5 class="text-muted"><code>{{ taskList.id }}</code></h5>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-9">
            <p>{{ taskList.description }}</p>

            <ngb-tabset>
                <ngb-tab>
                    <ng-template ngbTabTitle>
                        <i class="fa fa-comments text-success"></i> Comments
                    </ng-template>
                    <ng-template ngbTabContent>
                        <app-comments-thread [comments]="taskList.comments" allowPost="true"></app-comments-thread>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle>
                        <i class="fa fa-bell text-secondary"></i> Recent Activities
                    </ng-template>
                    <ng-template ngbTabContent>
                        <p>
                            <a href="#">bobby</a> commented on <a href="#">my-school-project</a> 2 minutes ago.
                        </p>
                        <p>
                            <a href="#">alice0</a> updated task <a href="#"><em>Design home page</em></a> yesterday.
                        </p>
                        <p>
                            <a href="#">bobby</a> added <a href="#">chuck</a> as a collaborator 2 days ago.
                        </p>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>

        <div class="col-md-3">
            <app-task-list-summary [taskList]="taskList" [allowEdit]="isCurrentUserOwner"></app-task-list-summary>
        </div>

    </div>
</div>

<ng-template #loading>
    <div class="container">
        <div class="row text-center">
            <i class="fa fa-spinner fa-pulse"></i>
        </div>
    </div>
</ng-template>
