<div>
    <h6>Owner</h6>
    <p>
        <a [routerLink]="['/users/', taskList.owner]">{{ taskList.owner }}</a>
    </p>
</div>
<hr>

<div>
    <h6>Collaborators</h6>
    <ul *ngIf="taskList.collaborators?.length">
        <li *ngFor="let colabId of taskList.collaborators">
            <a [routerLink]="['/users/', colabId]">{{ colabId }}</a>
        </li>
    </ul>
    <div>
        <!--ToDo: add a collaborator-->
        <code>ToDo: add a collaborator</code>
    </div>
</div>
<hr>

<div>
    <h6>Tags</h6>
    <div *ngFor="let t of tags">
        <span class="badge badge-light">{{t.name}}</span>
        :
        <span class="badge badge-secondary">{{t.value}}</span>
    </div>

    <!--ToDo: Add projectTags-->
    <code>ToDo: Add tags</code>
</div>
<hr>

<h6 *ngIf="taskList.updatedAt">Last Updated at {{ taskList.updatedAt | date }}</h6>

<!--ToDo: Latest update-->
<!--<pre>ToDo: Latest update</pre>-->
<!--<pre>what task item?</pre>-->
<!--<pre>when?</pre>-->
<!--<pre>who?</pre>-->
