<div>
    <h6>Owner</h6>
    <p>
        <a [routerLink]="['/users/', taskList.owner]">{{ taskList.owner }}</a>
    </p>
    <hr>
</div>

<div>
    <h6>
        Collaborators
    </h6>
    <form *ngIf="allowEdit" #addCollaboratorForm="ngForm" (submit)="addCollaborator(addCollaboratorForm)"
          class="form-row">
        <div class="col-md-10">
            <input type="text" required class="form-control" [(ngModel)]="model" placeholder="Add a Collaborator"
                   [ngbTypeahead]="findMatchingUsers" name="collaborator"/>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-sm btn-outline-success" [disabled]="addCollaboratorForm.form.invalid">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </form>
    <ul *ngIf="taskList.collaborators?.length">
        <li *ngFor="let colabId of taskList.collaborators">
            <a [routerLink]="['/users/', colabId]">{{ colabId }}</a>
        </li>
    </ul>
    <hr>
</div>

<div *ngIf="tags">
    <h6>Tags</h6>
    <div *ngFor="let t of tags">
        <span class="badge badge-light">{{t.name}}</span>
        :
        <span class="badge badge-secondary">{{t.value}}</span>
    </div>

    <!--ToDo: Add projectTags-->
    <code>ToDo: Add tags</code>
    <hr>
</div>

<h6>Created at {{ taskList.createdAt | date:'EEEE, MMM d, y, h:mm a' }}</h6>
<h6 *ngIf="taskList.updatedAt">Last Updated at {{ taskList.updatedAt | date:'EEEE, MMM d, y, h:mm a' }}</h6>

<!--ToDo: Latest update-->
<!--<pre>ToDo: Latest update</pre>-->
<!--<pre>what task item?</pre>-->
<!--<pre>when?</pre>-->
<!--<pre>who?</pre>-->
