<div>
    <h6>
        Created by
        <a [routerLink]="['/users/', taskItem.creator]">{{ taskItem.creator }}</a>
    </h6>
</div>
<hr>
<div *ngIf="allowEdit || taskItem.assignees?.length">
    <h6>
        <span *ngIf="allowEdit" class="pull-right" ngbTooltip="Assign to a collaborator">
            <i class="fa fa-plus-circle"></i>
        </span>
        Assignees
    </h6>
    <ul *ngIf="taskItem.assignees?.length">
        <li *ngFor="let userId of taskItem.assignees">
            <a [routerLink]="['/users/', userId]">{{ userId }}</a>
        </li>
    </ul>
</div>
<hr>

<h6>Created at {{ taskItem.createdAt | date:'EEEE, MMM d, y, h:mm a' }}</h6>
<h6 *ngIf="taskItem.updatedAt">Last Updated at {{ taskItem.updatedAt | date:'EEEE, MMM d, y, h:mm a' }}</h6>

