<div class="row" style="padding: 10px 0px 10px 0px">
    <div class="col-md-12">
        <h1>System Dashborad</h1>
    </div>
    <div class="col-md-5" style="min-height: 40vh; max-height: 40vh; overflow: auto;">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Indroduction</h4>
            </div>
            <div class="card-body">
                <h5 class="card-title pricing-card-title">Welcome to Zevere </h5>
                xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                <br> xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                <br> xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                <br> xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                <br> xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                <br> xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

                <br>
            </div>
        </div>
    </div>
    <div class="col-md-7" style="min-height: 40vh; max-height: 40vh; overflow: auto;">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Assigned to me</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Priority</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1,002</td>
                            <td>amet</td>
                            <td>consectetur</td>
                            <td>adipiscing</td>
                        </tr>
                        <tr>
                            <td>1,003</td>
                            <td>Integer</td>
                            <td>nec</td>
                            <td>odio</td>
                        </tr>

                        <tr>
                            <td>1,014</td>
                            <td>per</td>
                            <td>inceptos</td>
                            <td>himenaeos</td>
                        </tr>
                        <tr>
                            <td>1,015</td>
                            <td>sodales</td>
                            <td>ligula</td>
                            <td>in</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="min-height: 50vh; max-height: 50vh;overflow: auto">
    <div class="col-md-12" style="max-height: 55vh; overflow: auto;">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Activity Stream</h4>
            </div>
            <div class="card-body">
                <div class="notice notice-success">
                    <strong>Completed: </strong> Kevin Ma changed the Asignee to Donald Blimpa on OR-113 - Design Layout
                    of the PULA interface
                    for the DINO4 communications protocol.
                </div>
                <div class="notice notice-danger">
                    <strong>Cancelled:</strong> Meer Zaheen changed the Priority to 'Blocker' on FP-2210 - Integration
                    Testing of Helmond Transactions
                </div>
                <div class="notice notice-info">
                    <strong>Info:</strong> Poulad Pour commented on OR-113 - Design Layout of the PULA interface for the
                    DINO4 2 hours ago
                    communications protocol.
                </div>
                <div class="notice notice-warning">
                    <strong>Warning:</strong> Poulad Pour commented on OR-113 - Design Layout of the PULA interface for
                    the DINO4 2 hours ago
                    communications protocol.
                </div>
            </div>
        </div>
    </div>
</div>
